h1, h2, h3, h4, p, a, ul, li, i { padding: 0; margin: 0; }

a:visited { text-decoration: none; }

a:hover { text-decoration: none; }

a:active { text-decoration: none; }

h1 { font-size: 72px; text-transform: uppercase; }

h2 { font-size: 30px; text-transform: uppercase; }

.corebtn { color: #FFF; background-color: #b88b58; text-transform: uppercase; padding: 20px 50px; border-radius: 30px; border: none; margin: 25px; font-weight: 700; }

.navi { background-color: #000; display: -ms-flexbox; display: flex; -ms-flex-pack: justify; justify-content: space-between; position: fixed; left: 0; right: 0; top: 0; width: 100%; z-index: 999; }

.navi__wrapper { display: -ms-flexbox; display: flex; -ms-flex-direction: row; flex-direction: row; -ms-flex-pack: justify; justify-content: space-between; padding: 20px; }

.navi__wrapper .logo { -ms-flex: 2; flex: 2; }

.navi__wrapper .menu { -ms-flex: 10; flex: 10; display: -ms-flexbox; display: flex; -ms-flex-align: center; align-items: center; -ms-flex-direction: row; flex-direction: row; -ms-flex-pack: justify; justify-content: space-between; text-transform: uppercase; list-style: none; }

.navi__wrapper .menu li { position: relative; }

.navi__wrapper .menu li a { color: #FFF; font-weight: 700; }

.navi__wrapper .menu li a:hover:before { content: ""; position: absolute; width: 100%; bottom: -175%; -ms-flex-pack: center; justify-content: center; border: 3px solid #b88b58; }

.jumbotron { background-image: url("../images/jumbo.png"); height: 100vh; background-size: cover; }

.jumbotron .header { padding: 300px 0 250px 0; display: -ms-flexbox; display: flex; -ms-flex-pack: center; justify-content: center; -ms-flex-align: center; align-items: center; text-align: center; -ms-flex-direction: column; flex-direction: column; color: #FFF; }

.jumbotron .header h1 { padding: 5px 150px; color: #b88b58; font-weight: 700; }

.jumbotron .header h1:first-line { color: #FFF; }

.jumbotron .header h2 { padding: 15px; font-weight: 600; }
