h1, h2, h3, h4, p, a, ul, li, i { padding: 0; margin: 0; font-family: "Montserrat", sans-serif; }

a:visited { text-decoration: none; }

a:hover { text-decoration: none; }

a:active { text-decoration: none; }

h1 { font-size: 72px; font-weight: 700; }

h2 { font-size: 30px; }

h3 { font-size: 24px; }

h4 { font-size: 14px; }

h1, h2, h3, h4 { text-transform: uppercase; padding: 10px; }

h2, h3, h4 { font-weight: 600; }

p { font-weight: 400; }

.corebtn { color: #FFF; background-color: #b88b58; text-transform: uppercase; padding: 20px 60px; border-radius: 30px; border: none; margin: 25px; font-weight: 700; }

.corebtn:hover { background-color: #000; }

.blackbg { background-color: #000; }

.navi { background-color: #000; display: -ms-flexbox; display: flex; -ms-flex-pack: justify; justify-content: space-between; position: fixed; left: 0; right: 0; top: 0; width: 100%; z-index: 999; }

.navi__wrapper { display: -ms-flexbox; display: flex; -ms-flex-direction: row; flex-direction: row; -ms-flex-pack: justify; justify-content: space-between; padding: 20px; }

.navi__wrapper .logo { -ms-flex: 2; flex: 2; }

.navi__wrapper .menu { -ms-flex: 10; flex: 10; display: -ms-flexbox; display: flex; -ms-flex-align: center; align-items: center; -ms-flex-direction: row; flex-direction: row; -ms-flex-pack: justify; justify-content: space-between; text-transform: uppercase; list-style: none; }

.navi__wrapper .menu li { position: relative; }

.navi__wrapper .menu li a { color: #FFF; font-weight: 700; }

.navi__wrapper .menu li a:hover:before { content: ""; position: absolute; width: 100%; bottom: -175%; -ms-flex-pack: center; justify-content: center; border: 3px solid #b88b58; }

.jumbotron { background-image: url("../images/jumbo.png"); height: 100vh; background-size: cover; }

.jumbotron .header { padding: 300px 0 250px 0; display: -ms-flexbox; display: flex; -ms-flex-pack: center; justify-content: center; -ms-flex-align: center; align-items: center; text-align: center; -ms-flex-direction: column; flex-direction: column; color: #FFF; }

.jumbotron .header h1 { padding: 5px 150px; color: #b88b58; font-weight: 700; }

.jumbotron .header h1:first-line { color: #FFF; }

.jumbotron .header h2 { padding: 15px; font-weight: 600; }

.aboutus { display: -ms-flexbox; display: flex; -ms-flex-pack: center; justify-content: center; -ms-flex-align: center; align-items: center; text-align: center; -ms-flex-direction: column; flex-direction: column; }

.aboutus__headtittle h4 { color: #aeaeae; }

.aboutus__content { display: -ms-flexbox; display: flex; -ms-flex-direction: row; flex-direction: row; -ms-flex-pack: center; justify-content: center; -ms-flex-align: center; align-items: center; padding: 50px 0 90px 0; }

.aboutus__content .left-side { text-align: left; -ms-flex: 1.3; flex: 1.3; }

.aboutus__content .left-side p { padding: 20px; font-weight: 300; font-size: 14px; }

.aboutus__content .right-side { -ms-flex: 1; flex: 1; }

.services { display: -ms-flexbox; display: flex; -ms-flex-pack: center; justify-content: center; -ms-flex-align: center; align-items: center; text-align: center; -ms-flex-direction: column; flex-direction: column; padding: 50px 0; }

.services__headtittle h2 { color: #FFF; }

.services__headtittle h4 { color: #aeaeae; }

.services__items { display: -ms-flexbox; display: flex; -ms-flex-pack: justify; justify-content: space-between; -ms-flex-direction: row; flex-direction: row; -ms-flex-align: center; align-items: center; }

.services__items div { -ms-flex: 1; flex: 1; display: -ms-flexbox; display: flex; -ms-flex-pack: center; justify-content: center; text-align: center; -ms-flex-align: center; align-items: center; -ms-flex-direction: column; flex-direction: column; padding: 50px; }

.services__items div img { padding: 40px; }

.services__items div h4 { color: #FFF; }

.services__items div p { color: #373737; }

.ourprojects { display: -ms-flexbox; display: flex; -ms-flex-pack: center; justify-content: center; -ms-flex-align: center; align-items: center; text-align: center; -ms-flex-direction: column; flex-direction: column; padding: 60px 0; }

.ourprojects__headtittle h4 { color: #aeaeae; }

.ourprojects__gallery { display: -ms-flexbox; display: flex; -ms-flex-pack: center; justify-content: center; -ms-flex-align: center; align-items: center; -ms-flex-direction: column; flex-direction: column; }

.ourprojects__gallery .gallery-wrapper { display: -ms-flexbox; display: flex; -ms-flex-pack: justify; justify-content: space-between; -ms-flex-wrap: wrap; flex-wrap: wrap; }

.ourprojects__gallery .gallery-wrapper .element-item { margin: 15px; -ms-flex: 1; flex: 1; position: relative; }

.ourprojects__gallery .gallery-wrapper .element-item a .imglayer { position: absolute; top: 0; bottom: 0; visibility: hidden; display: -ms-flexbox; display: flex; -ms-flex-align: center; align-items: center; -ms-flex-pack: center; justify-content: center; -ms-flex-direction: column; flex-direction: column; }

.ourprojects__gallery .gallery-wrapper .element-item a .imglayer h4 { font-size: 18px; color: #FFF; }

.ourprojects__gallery .gallery-wrapper .element-item a .imglayer p { color: #aeaeae; }

.ourprojects__gallery .gallery-wrapper .element-item a:hover img { opacity: 0.75; }

.ourprojects__gallery .gallery-wrapper .element-item a:hover .imglayer { visibility: visible; }

.ourprojects__gallery .gallery-wrapper .modal-dialog .modal-content .modal-body img { padding: 40px; width: 100%; height: 100%; }

.ourprojects__gallery .button-group { display: -ms-flexbox; display: flex; -ms-flex-direction: row; flex-direction: row; }

.ourprojects__gallery .button-group .button { padding: 20px 30px; background-color: #ededed; border: 1px #aeaeae solid; margin: 40px 0; font-weight: 300; text-transform: uppercase; font-size: 14px; position: relative; }

.ourprojects__gallery .button-group .button:first-child { border-top-left-radius: 25px; border-bottom-left-radius: 25px; }

.ourprojects__gallery .button-group .button:last-child { border-top-right-radius: 25px; border-bottom-right-radius: 25px; }

.ourprojects__gallery .button-group .button:hover:before { content: ""; position: absolute; -ms-flex-align: center; align-items: center; width: 60%; bottom: 0; left: 20%; right: 0; -ms-flex-pack: center; justify-content: center; border: 3px solid #b88b58; }

.ourteambg { background-image: url("../images/ourteam.png"); background-size: cover; }

.ourteambg .ourteam__headtittle h2 { color: #FFF; }

.ourteambg .ourteam__headtittle h4 { color: #aeaeae; }
