$black: #000;
$white: #FFF;
$twine: #b88b58;
$lightgrey: #aeaeae;
$lowgrey: #ededed;
$grey: #373737;

$twitter: #34c5f0;
$linkedin: #127cb4;
$facebook: #336297;
$googleplus: #e74237;
$pintrest: #b71c29;