.corebtn {
	color: $white;
	background-color: $twine;
	text-transform: uppercase;
	padding: 20px 50px;
	border-radius: 30px;
	border: none;
	margin: 25px;
	font-weight: $bold;

	&:hover {
		background-color: $black;
	}
}