h1 {
	font-size: $fontxxxl;
	font-weight: $bold;
}

h2 {
	font-size: $fontxxl;
}

h3 {
	font-size: $fontxl;
}

h4 {
	font-size: $fontm;
}

h1, h2, h3, h4 {
	text-transform: uppercase;
	padding: 10px;	
}

h2, h3, h4 {
	font-weight: $semibold;
}

p {
	font-weight: $regular;
}