h1, h2, h3, h4, p, a, ul, li, i {
	padding: 0;
	margin: 0;
	font-family: $mont;
}

a {
	&:visited {
		text-decoration: none;
	}
	&:hover {
		text-decoration: none;
	}
	&:active {
		text-decoration: none;
	}
}