.footer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 30px 0;
	color: $lightgrey;
	&__item {
		display: flex;
		flex: 1;
		margin: 15px;

	}
	.left {
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		.top {
			padding-bottom: 90px;
			.fa-twitter, .fa-instagram, .fa-linkedin-in, .fa-facebook-f, .fa-youtube, .fa-google-plus-g, .fa-ellipsis-h {
				background-color: $grey;
				color: $white;
				margin: 3px;
				border-radius: 50%;
				padding: 10px;
				width: 35px;
				height: 35px;

				&:hover {
					background-color: $twine;
				}
			}
		}
		.bottom {
			padding-top: 90px;
		}

	}
	.middle {
		align-self: flex-start;
		
	}
	.right {
		background-color: $grey;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
		padding: 45px;

		p {
			position: relative;
			padding-bottom: 30px;
			&:after {
				content: "";
				border-bottom: 3px solid $lightgrey;
				position: absolute; 
				bottom: 0;
				left: -20%;
				right: 0;
				width: 140%;
			}
		}
	}	
}


@media(min-width: 992px) and (max-width: 1199px) {
	.footer {
		padding: 30px 0;
		color: $lightgrey;
		.left {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			.top {
				display: flex;
				flex-wrap: wrap;
				padding-bottom: 40px;

				.fa-twitter, .fa-instagram, .fa-linkedin-in, .fa-facebook-f, .fa-youtube, .fa-google-plus-g, .fa-ellipsis-h {
					margin: 4px 20px;
				}
			}

			.bottom {
				padding-top: 40px;
			}

		}
		.right {
			padding: 35px;
		}	
	}
}

@media(min-width: 768px) and (max-width: 991px)  { 
	.footer {
		padding: 30px 0;
		color: $lightgrey;
		.left {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			.top {
				display: flex;
				flex-wrap: wrap;
				padding-bottom: 40px;

				.fa-twitter, .fa-instagram, .fa-linkedin-in, .fa-facebook-f, .fa-youtube, .fa-google-plus-g, .fa-ellipsis-h {
					margin: 4px 10px;
				}
			}
			.bottom {
				padding-top: 40px;
			}
		}
		.right {
			padding: 15px;
		}	
	}
}

@media(max-width: 767px) {
	.footer {
		padding: 25px 0;
		color: $lightgrey;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		.left {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			.top {
				display: flex;
				flex-wrap: wrap;
				padding-bottom: 40px;

				.fa-twitter, .fa-instagram, .fa-linkedin-in, .fa-facebook-f, .fa-youtube, .fa-google-plus-g, .fa-ellipsis-h {
					margin: 4px 10px;
				}
			}
			.bottom {
				padding-top: 40px;
			}
		}
		.right {
			padding: 15px;
		}	
	}
}