
.map {
	position: relative;
	iframe {
		border: none;
	}
	.mapinfo {
		background-color: $white;
		display: flex;
		flex-direction: column;
		position: absolute;
		top: 50px;
		left: 20%;
		padding: 30px 80px 30px 30px;
		&__item {
			display: flex;
			flex-direction: row;
			align-items: center;
			padding: 15px;
			img {
				padding-right: 5px;
			}


		}
	}
	.goup {
		position: absolute;
		bottom: -25px;
		left: 10%;
		border: none;
		border-radius: 50%;
		width: 60px;
		height: 60px;

		&:hover {
			background-color: $twine;
		}

		.fa-chevron-up {
			font-size: 35px;
		}
	}
	
}

@media(min-width: 992px) and (max-width: 1199px) {

}

@media(min-width: 768px) and (max-width: 991px)  { 
	.map {
		.mapinfo {
			top: 50px;
			left: 10%;
			padding: 30px 80px 30px 30px;
			&__item {
				padding: 5px;
				img {
					padding-right: 5px;
				}
			}
		}
	}
}

@media(max-width: 767px) {
	.map {
		.mapinfo {
			top: 60px;
			left: 5%;
			padding: 30px 0 30px 0;
			&__item {
				padding: 5px;
				img {
					padding-right: 5px;
				}
			}
		}
	}
}
